-f https://download.pytorch.org/whl/torch_stable.html
gluonnlp==0.10.0
python-telegram-bot==13.7
telegram==0.0.1
kobert @ git+https://git@github.com/SKTBrain/KoBERT.git@8df69ec6b588ae661bef98d28ec29448482bbe6e
tokenizers==0.8.1rc1
torch==1.10.0+cpu
tqdm==4.51.0
transformers==3.0.2
pandas==1.1.4
numpy==1.19.4
psycopg2==2.7.5